<h2>Users Component</h2>

<button class="primary-btn" routerLink="/users/new">Add User</button>

<ul class="users-list">
  <li class="table-header">
    <div class="user-name">Name</div>
    <div class="user-email">Email</div>
    <div class="user-edit">Edit</div>
    <div class="user-delete">Delete</div>
  </li>

  <li class="user-row" *ngFor="let user of users">
    <div class="user-name">{{ user.name }}</div>
    <div class="user-email">{{ user.email }}</div>
    <div class="user-edit">
      <a href="#">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
    </div>
    <div class="user-delete">
      <a href="#">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
    </div>
  </li>
</ul>

<!--<div>{{ users | json }}</div>-->
