.add-user-form {
  width: 400px;
  background-color: #F8F8F8;
  padding: 20px;
}

.address-fieldset {
  margin-top: 20px;
}

.ng-touched.ng-invalid {
  border: 1px solid red;
}

.add-user-form.ng-invalid {
  border: none;
}
